
.item-info {
    font-family: "Source Code Pro", monospace;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    border: 1px solid #363535;
    background-color: #282727;
    border-radius: 5px;
}

.item-info h2 {
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 35px;
    background-color: #282727;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

.category {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.item-info .info-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.calories,
.protein {
    grid-column: 1 / span 2;
}

.calories,
.protein p {
    text-align: center;
}
